@import "../../index.scss";

.faq {
  // Header
  header {
    @include page-header;
  }

  // Accordion
  .accordion {
    @include container;

    .item {
      display: flex;
      flex-direction: column;
      width: 100%;

      // Question
      .question {
        cursor: pointer;
        display: flex;
        align-items: center;
        border: 2px solid $black;
        border-radius: 50px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-left: -10px;

        // Text
        p {
          width: 90%;
          @include text;
        }

        // Toggle indicator
        .toggle {
          width: 50px;
          height: 50px;
          border: 0;
          position: relative;
          outline: none;

          span {
            position: absolute;
            transition: 0.3s;
            background: $black;
            border-radius: 1px;

            &:first-of-type {
              top: 32%;
              bottom: 32%;
              width: 2px;
              left: 53%;
            }

            &:last-of-type {
              left: 36%;
              right: 27%;
              height: 2px;
              top: 48%;
            }
          }

          &.active {
            background-color: transparent;
            span:first-of-type {
              transform: rotate(90deg);
            }

            span:last-of-type {
              transform: rotate(90deg);
              left: 50%;
              right: 50%;
            }
          }
        }
      }

      // Answer
      .answer {
        overflow: hidden;
        transition: all 0.5s ease;

        p {
          font-size: 1.25rem;
          line-height: 1.5;

          @include desktop {
            font-size: 1.5vw;
          }
          padding: 15px 10px;
          span {
            @include highlight;
          }
        }
        a {
          @include link;
        }

        ul {
          list-style-type: none;
          padding: 0 0 0 10px;

          li {
            font-size: 1.25rem;
            margin-bottom: 5px;
            span {
              @include highlight;
            }

            @include desktop {
              font-size: 1.5vw;
            }
          }
        }
      }
    }
  }

  // Form
  .form {
    // border: 1px solid red;
    @include container;
    padding: 100px 0 50px;

    h3 {
      @include heading;
      margin-bottom: 25px;
    }

    p {
      @include text;
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 50px 0;

      > div {
        display: flex;
        justify-content: space-between;

        label {
          width: 45%;
        }

        @include phone {
          flex-direction: column;
          label {
            width: 100%;
          }
        }
      }

      label {
        display: flex;
        flex-direction: column;
        font-size: 1.25rem;
        margin: 25px 0;
        @include desktop {
          font-size: 1.5vw;
          margin: 35px 0;
        }

        input,
        textarea {
          border: none;
          @include text;
          padding: 10px 2px;
          border-bottom: 1px solid $black;
          font-family: "Roboto Mono", monospace;
          font-weight: 300;
          text-transform: uppercase;

          @include desktop {
            font-size: 2vw;
          }

          background-color: inherit;
          outline: none;
          -webkit-appearance: none;
          border-radius: 0;
        }

        textarea {
          //background-color: $gray;
          resize: none;

          &:focus {
            height: 200px;
            @include desktop {
              height: 300px;
            }
          }
        }
      }

      > div:last-of-type {
        width: 100%;
        margin: 15px 0;
        @include desktop {
          margin: 20px 0;
        }

        input[type="submit"] {
          width: 225px;
          font-size: 1.5rem;
          padding: 10px 0;
          border: 1px solid $black;
          font-family: "Roboto Mono", monospace;
          text-transform: uppercase;

          @include desktop {
            width: 15vw;
            min-width: 250px;
            font-size: 2vw;
          }

          border-radius: 50px;
          color: $black;
          background-color: white;
          cursor: pointer;
          outline: none;
          -webkit-appearance: none;

          &:hover,
          &:active {
            border: 1px solid $black;
            color: white;
            background-color: $black;
            outline: none;
          }

          @include phone {
            font-size: 1.5rem;
          }
        }
      }

      @include phone {
        padding: 25px 0 50px;
      }
    }
  }
}
