@import "../../index.scss";

.container {
  // Hero img
  > div:first-of-type {
    position: absolute;
    z-index: -1;
    //background-color: $gray;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    > div {
      width: 60%;
      margin: 0 auto;

      p {
        font-family: $bold;
        font-size: 6rem;
        position: relative;
        //color: $red;

        // Quotation mark
        &::before {
          content: "\201C";
          font-family: Arial, Helvetica, sans-serif;
          position: absolute;
          left: -75px;
          top: -50px;
          font-size: 200px;
        }
      }

      // img {
      //   width: 100%;
      //   object-fit: cover;
      //   height: 50vh;
      // }
    }
  }

  // Text
  section:first-of-type {
    @include child-container;
    padding: 60vh 0 25px;

    p {
      //font-family: $regular;
      font-size: 1.75rem;
      line-height: 1.5;
      margin-bottom: 25px;
      a {
        font-size: inherit;
        color: inherit;
        transition: all 0.25s ease;
        &:hover {
          text-decoration: none;
          color: $red;
        }

        &::after {
          content: " \2197";
          position: relative;
          top: -10px;
          display: inline-block;
        }
      }
    }

    @include tablet {
      p {
        font-size: 1.5rem;

        a {
          &::after {
            top: -8px;
          }
        }
      }
    }

    @include phone {
      p {
        font-size: 1.25rem;

        a {
          &::after {
            top: -6px;
          }
        }
      }
    }
  }

  @include phone {
    // Hero img
    > div:first-of-type {
      height: 40vh;
      > div {
        width: 80%;

        p {
          font-size: 3.5rem;
          position: relative;
          left: 20px;
          //color: $red;

          // Quotation mark
          &::before {
            content: "\201C";
            font-family: Arial, Helvetica, sans-serif;
            position: absolute;
            left: -45px;
            top: -25px;
            font-size: 120px;
          }
        }
      }
    }

    // Text
    section:first-of-type {
      padding: 45vh 0 25px;
    }
  }
}
