@import "./index.scss";

.container {
  // Hero img
  > div:first-of-type {
    position: absolute;
    z-index: -1;

    img {
      width: 100%;
      object-fit: cover;
      height: 50vh;
      filter: grayscale(0.7);
    }
  }

  // Text
  section:first-of-type {
    @include child-container;
    padding: 60vh 0 25px;
    p {
      //font-family: $regular;
      font-size: 1.75rem;
      line-height: 1.75;
      margin-bottom: 25px;
      a {
        color: inherit;
        transition: all 0.25s ease;
        &:hover {
          text-decoration: none;
          color: $red;
        }
      }
    }
    @include phone {
      p {
        font-size: 1.25rem;
      }
    }
  }
}
