@import "../../index.scss";

.container {
  // Img
  > div {
    margin-top: 160px;
    height: 50vh;
    background-color: $red;
    img {
      height: 50vh;
      width: 100%;
      object-fit: cover;
    }

    @include phone {
      margin-top: 110px;
    }
  }

  //Header
  header {
    @include header;
  }

  // Text
  section:first-of-type {
    @include child-container;
    padding: 50px 0;

    p {
      @include text;
      margin-bottom: 25px;

      a {
        font-size: inherit;
        color: inherit;
        transition: all 0.25s ease;

        &:hover {
          text-decoration: none;
          color: $red;
        }

        &::after {
          content: "\2197";
          position: relative;
          top: -12px;
          left: 2px;
          display: inline-block;
          z-index: -1;

          @include tablet {
            top: -10px;
          }

          @include phone {
            top: -8px;
          }
        }
      }
    }
  }
}
