@import "../../index.scss";

.faq {
  // Header
  header {
    padding: 200px 0 50px;
    @include child-container;

    h2 {
      font-family: $medium;
      font-size: 3rem;

      @include phone {
        font-size: 8vw;
      }
    }
  }

  // Accordion
  .accordion {
    //border: 1px solid red;
    @include child-container;

    .item {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 60em;
      margin: 0 auto;

      // Question
      .question {
        cursor: pointer;
        display: flex;
        align-items: center;

        p {
          font-size: 1.75rem;
          line-height: 1.75;

          @include phone {
            font-size: 6vw;
            line-height: 1.5;
          }
        }

        &:hover {
          p {
            color: $red;
          }
        }
      }

      // Answer
      .answer {
        overflow: hidden;
        transition: max-height 0.5s ease;
        padding: 5px 0 0;
        margin: 5px 0 10px;

        p {
          font-size: 1.25rem;
          line-height: 1.75;
          margin-bottom: 10px;

          @include phone {
            line-height: 1.5;
          }
        }

        a {
          color: $black;
          &:hover {
            color: $red;
          }
        }

        ul {
          margin-bottom: 10px;
          li {
            font-size: 1.25rem;
            line-height: 1.75;
          }
        }
      }
    }
  }

  // Form
  .form {
    @include child-container;
    padding: 0 0 50px;

    header {
      padding: 75px 0 50px;

      h3 {
        font-family: $medium;
        font-size: 2.5rem;
        margin-bottom: 25px;
      }

      p {
        font-size: 1.75rem;
        line-height: 1.75;
      }

      @include phone {
        h3 {
          font-size: 6vw;
        }

        p {
          font-size: 1.25rem;
          line-height: 1.5;
        }
      }
    }

    form {
      //border: 1px solid red;
      background-color: $nude;
      display: flex;
      flex-direction: column;

      > div {
        display: flex;
        justify-content: space-between;

        label {
          width: 45%;
        }

        @include phone {
          flex-direction: column;
          label {
            width: 100%;
          }
        }
      }

      label {
        display: flex;
        flex-direction: column;
        font-size: 1.25rem;
        margin: 25px 0;
        input,
        textarea {
          border: none;
          border-bottom: 2px solid $black;
          background-color: inherit;
          outline: none;
          font-family: $regular;
          font-size: 1.5rem;
          padding: 5px 2px;
          -webkit-appearance: none;
          border-radius: 0;
        }

        textarea {
          //background-color: $gray;
          resize: none;
          &:focus {
            height: 200px;
          }
        }
      }

      > div:last-of-type {
        width: 100%;
        margin: 15px 0;

        input[type="submit"] {
          width: 200px;
          font-size: 1.5rem;
          padding: 8px 0;
          border: 2px solid $black;
          border-radius: 2px;
          color: $black;
          font-family: $medium;
          background-color: $nude;
          cursor: pointer;
          -webkit-appearance: none;

          &:hover,
          &:active {
            border: 2px solid $black;
            color: $nude;
            background-color: $black;
          }

          @include phone {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}
