@import "../../index.scss";

.container {
  // Header
  header {
    padding: 200px 0 50px;
    @include child-container;

    h2 {
      font-family: $medium;
      font-size: 6rem;

      @include phone {
        font-size: 12vw;
      }
    }
  }

  // Intro text
  section:first-of-type {
    //border: 1px solid red;
    padding: 0 0 50px;
    @include child-container;
    h1 {
      //border: 1px solid red;
      display: block;
      font-family: $regular;
      font-size: 4rem;
      margin-bottom: 25px;
    }

    p {
      margin-bottom: 25px;
      span {
        color: $red;
      }
    }

    p {
      font-size: 1.75rem;
      line-height: 1.75;
    }

    a {
      font-size: 1.5rem;
      font-family: $regular;
      color: $black;
      text-decoration: underline;
      outline: none;
      cursor: pointer;

      &::after {
        content: " \2197";
        position: relative;
        top: -10px;
        left: 5px;
        display: inline-block;
      }

      &:hover {
        color: $red;
        text-decoration: none;
      }
    }

    @include tablet {
      p {
        font-size: 1.5rem;
        line-height: 1.5;
      }

      a {
        font-size: 1.25rem;
      }
    }

    @include phone {
      p {
        font-size: 1.25rem;
        line-height: 1.5;
      }

      a {
        font-size: 1rem;
      }
    }
  }
}
