@import "../../index.scss";

.container {
  .hero {
    @include child-container;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    // Name
    h1 {
      font-family: $bold;
      font-size: 12rem;
      //color: $red;
      margin-top: 150px;
    }

    // Tagline
    h2 {
      font-family: $regular;
      font-size: 3rem;
      line-height: 1.25;
      padding: 5px 0 25px;
      span {
        color: $red;
      }
    }

    // Contact info
    > div:first-of-type {
      padding: 0 0 25px;

      a {
        display: block;
        font-family: $regular;
        color: $black;
        font-size: 2rem;
        line-height: 1.25;
        text-decoration: none;

        span {
          font-family: $medium;
        }

        &:first-of-type {
          position: relative;
          left: -3px;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    // CTA
    > div:last-of-type {
      display: flex;
      align-items: center;

      // Leave request
      input[type="submit"] {
        width: 200px;
        font-family: $medium;
        font-size: 1.5rem;
        padding: 10px 0;
        border: 2px solid $black;
        border-radius: 2px;
        color: $black;
        background-color: $nude;
        cursor: pointer;
        -webkit-appearance: none;
        margin-right: 25px;

        &:hover,
        &:active {
          border: 2px solid $black;
          color: $nude;
          background-color: $black;
          outline: none;
        }

        @include phone {
          font-size: 1.5rem;
        }
      }

      // Learn more
      a {
        display: block;
        padding: 25px 0;
        font-family: $medium;
        font-size: 1.5rem;
        color: $black;
        &::after {
          content: " \2197";
          position: relative;
          top: -10px;
          left: 5px;
          display: inline-block;
        }
        &:hover {
          color: $red;
        }
      }
    }

    @include phone {
      // Name
      h1 {
        font-size: 18vw;
        //color: $red;
        margin-top: 150px;
      }

      // Tagline
      h2 {
        font-family: $regular;
        font-size: 6vw;
        line-height: 1.25;
        padding: 5px 0 25px;
        span {
          color: $red;
        }
      }

      // Contact info
      > div:first-of-type {
        padding: 10px 0;

        a {
          display: block;
          font-family: $regular;
          color: $black;
          font-size: 1.5rem;
          line-height: 1.25;
          text-decoration: none;

          span {
            font-family: $medium;
          }

          &:first-of-type {
            position: relative;
            left: -3px;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }

      // CTA
      > div:last-of-type {
        display: flex;
        //flex-direction: column;
        //align-items: flex-start;

        // Leave request
        input[type="submit"] {
          width: 200px;
          font-family: $medium;
          font-size: 1.5rem;
          padding: 10px 0;
          border: 2px solid $black;
          border-radius: 2px;
          color: $black;
          background-color: $nude;
          cursor: pointer;
          -webkit-appearance: none;
          margin-right: 15px;

          &:hover,
          &:active {
            border: 2px solid $black;
            color: $nude;
            background-color: $black;
          }
        }

        // Learn more
        a {
          display: block;
          padding: 25px 0;
          font-family: $medium;
          font-size: 1.5rem;
          color: $black;
          &::after {
            content: " \2197";
            position: relative;
            top: -10px;
            left: 5px;
            display: inline-block;
          }
          &:hover {
            color: $red;
          }
        }
      }
    }
  }

  // Intro text
  .intro {
    //border: 1px solid red;
    padding: 100px 0;
    @include child-container;
    display: flex;

    // Hello
    h3 {
      //border: 1px solid red;
      display: block;
      width: 30%;
      font-size: 3rem;
      margin-bottom: 25px;
    }

    // Text
    > div {
      width: 70%;
      p {
        font-size: 1.75rem;
        line-height: 1.5;
        margin-bottom: 25px;
        span {
          color: $red;
        }
      }

      a {
        font-size: 1.5rem;
        color: $black;
        text-decoration: underline;
        outline: none;
        cursor: pointer;

        &::after {
          content: " \2197";
          position: relative;
          top: -10px;
          left: 5px;
          display: inline-block;
        }

        &:hover {
          color: $red;
          text-decoration: none;
        }
      }
    }

    @include tablet {
      > div {
        p {
          font-size: 1.5rem;
        }

        a {
          font-size: 1.25rem;
        }
      }
    }

    @include phone {
      flex-direction: column;

      h3 {
        font-size: 8vw;
      }

      > div {
        width: 100%;

        p {
          font-size: 1.25rem;
        }

        a {
          font-size: 1.25rem;
        }
      }
    }
  }
}
