@import "../../index.scss";

.container {
  header {
    @include page-header;
  }

  section:first-of-type {
    padding: 0 0 50px;
    @include child-container;

    p {
      @include text;

      a {
        color: inherit;

        &:hover {
          color: $red;
          text-decoration: none;
        }

        &::after {
          content: "\2197";
          position: relative;
          top: -12px;
          left: 2px;
          display: inline-block;
          z-index: -1;

          @include tablet {
            top: -10px;
          }

          @include phone {
            top: -8px;
          }
        }
      }
    }

    form {
      //border: 1px solid red;
      display: flex;
      align-items: flex-end;
      padding: 50px 0;
      @include desktop {
        padding: 4vw 0;
      }

      label {
        width: 50%;
        display: flex;
        flex-direction: column;
        font-size: 1.25rem;
        margin-right: 25px;

        @include desktop {
          font-size: 1.5vw;
          margin-right: 2vw;
        }

        input {
          border: none;
          border-bottom: 2px solid $black;
          background-color: inherit;
          outline: none;
          font-size: 1.5rem;

          @include desktop {
            font-size: 2vw;
          }
          padding: 10px 2px;
          -webkit-appearance: none;
          border-radius: 0;
        }
      }

      input[type="submit"] {
        width: 225px;
        font-family: $medium;
        font-size: 1.5rem;
        padding: 10px 0;
        border: 2px solid $black;

        @include desktop {
          width: 15vw;
          min-width: 250px;
          font-size: 2vw;
        }

        border-radius: 2px;
        color: $black;
        background-color: $nude;
        cursor: pointer;
        -webkit-appearance: none;

        &:hover,
        &:active {
          border: 2px solid $black;
          color: $nude;
          background-color: $black;
          outline: none;
        }

        @include phone {
          font-size: 1.5rem;
        }
      }

      @include phone {
        flex-direction: column;
        align-items: initial;

        label {
          width: 100%;
          margin-bottom: 25px;
        }
      }
    }
  }
}
