@import "../index.scss";

// Navbar
nav {
  ul {
    background-color: $yellow;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -100%;
    height: 100%;
    width: 100%;
    transition-property: all;
    transition-duration: 0.55s;
    transition-delay: 0;
    transition-timing-function: cubic-bezier(0.66, 0, 0.34, 1);
    z-index: 1;

    li {
      a {
        font-family: $medium;
        font-size: 3rem;
        line-height: 1.5;
        color: $black;
        text-align: center;
        text-decoration: none;

        @include phone {
          font-size: 8vw;
        }

        @include desktop {
          font-size: 4vw;
        }

        outline: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &:last-of-type {
        position: absolute;
        bottom: 0;

        p {
          font-size: 1rem;
          font-family: $medium;
          padding: 25px 0 25px;

          @include desktop {
            font-size: 1.5vw;
            padding: 25px 0;
          }
        }
      }
    }

    &.active {
      top: 0;
    }
  }

  .logo {
    //border: 1px solid red;
    width: 150px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 60px;
    left: 35px;
    z-index: 2;

    p {
      font-family: $semi-bold;
      font-size: 1.5rem;
      color: $black;
      transition: color 1s ease;
      position: relative;
      left: -1px;
      top: 1px;

      span {
        color: $red;
        font-size: 1rem;
        position: relative;
        left: -1px;
      }

      @include desktop {
        font-size: 2rem;
        span {
          font-size: 1.25rem;
        }
      }
    }

    @include phone {
      top: 32.5px;
      left: -10px;
    }

    @include desktop {
      top: 65px;
      left: 45px;
    }
  }

  .toggle {
    width: 50px;
    height: 50px;

    @include desktop {
      width: 4vw;
      height: 4vw;
    }

    display: block;
    position: fixed;
    right: 50px;
    top: 50px;

    @include phone {
      right: 20px;
      top: 25px;
    }

    padding: 5px;
    cursor: pointer;
    z-index: 2;

    .hamburger {
      width: 100%;
      height: 3px;
      border-radius: 10px;
      background: $black;
      transition: all 0.5s ease;
      position: relative;
      top: 25px;

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background: $black;
        border-radius: 10px;
        transition: 0.5s;
      }

      &:before {
        top: -12px;
        @include desktop {
          top: -15px;
        }
      }

      &:after {
        top: 12px;
        @include desktop {
          top: 15px;
        }
      }
    }

    &.active {
      z-index: 2;
      .hamburger {
        background: rgba(0, 0, 0, 0);

        &:before {
          top: 0;
          transform: rotate(45deg);
        }

        &:after {
          top: 0;
          transform: rotate(135deg);
        }
      }
    }
  }
}

// Sidebar
aside {
  //border: 1px solid red;
  width: 0;
  height: 100vh;
  position: fixed;
  left: 0px;
  bottom: 0;
  //background-color: $gray;
  //border-left: 2px solid $red;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  transform: rotate(180deg);

  p {
    //border: 1px solid red;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    font-family: $medium;
    font-size: 1.5rem;
    writing-mode: vertical-rl;
    cursor: pointer;

    &:hover {
      color: $red;
    }
  }

  @media only screen and (min-width: 0px) and (max-width: 1024px) {
    width: 100vw;
    height: 125px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: center;
    transform: rotate(0deg);
    background-color: $nude;

    p {
      writing-mode: initial;
      width: 22%;
      margin-bottom: 15px;
    }
  }

  @include phone {
    width: 100vw;
    height: 110px;

    p {
      width: 20%;
      font-size: 1rem;
      margin-bottom: 25px;
    }
  }
}

// CTA
.contact {
  //border: 1px solid red;
  @include child-container;
  padding: 50px 0;

  h2 {
    font-size: 2.5rem;
    line-height: 1.1;
    font-family: $medium;
  }

  > div {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    a {
      font-size: 1.75rem;
      line-height: 1.75;
      text-decoration: none;
      color: $black;

      span {
        font-family: $regular;
      }

      &:hover {
        text-decoration: underline;
      }
      span:last-of-type {
        img {
          width: 30px;
          position: relative;
          top: 5px;
          left: -5px;
        }
      }
    }
  }

  @include phone {
    padding: 25px 0;
    h2 {
      font-size: 6vw;
    }

    > div {
      a {
        font-size: 1.25rem;
        line-height: 1.5;

        span:last-of-type {
          img {
            width: 20px;
            position: relative;
            top: 2px;
            left: -3px;
          }
        }
      }
    }
  }
}

// Bottom nav
.bottom-nav {
  margin: 50px auto 100px;
  display: flex;

  > div {
    //border: 1px solid red;
    width: 50%;
    height: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
      font-family: $medium;
      font-size: 2.5rem;
      color: $black;
      text-decoration: none;
      outline: none;
      margin-bottom: 10px;

      &:hover {
        //text-decoration: underline;
        color: $red;
      }

      &::after {
        content: " \2197";
        position: relative;
        top: -14px;
        left: 6px;
        display: inline-block;
        z-index: -1;

        @include phone {
          top: -10px;
          left: 4px;
        }
      }
    }

    &:first-of-type {
      border-right: 3px solid $black;
    }
  }

  @include phone {
    margin: 25px auto 50px;

    > div {
      height: 25vw;

      a {
        font-size: 6vw;
      }

      &:first-child {
        border-right: 2px solid $black;
      }
    }
  }

  @include desktop {
    margin: 75px auto 125px;

    > div {
      height: 10vw;

      a {
        font-size: 3vw;
      }

      &:first-of-type {
        border-right: 4px solid $black;
      }
    }
  }
}

// Footer

footer {
  background-color: rgba(131, 56, 236, 0.25);
  padding: 25px 0;
  @include desktop {
    padding: 50px 0 25px;
  }

  > div {
    @include child-container;

    > div:first-of-type {
      padding: 25px 0;
      @include desktop {
        padding: 50px 0;
      }
      p:first-of-type {
        font-family: $medium;
        font-size: 3rem;
        line-height: 1.5;
        color: $black;

        @include phone {
          font-size: 8vw;
        }

        @include desktop {
          font-size: 4vw;
        }
      }
      p:nth-of-type(2) {
        @include text;
        font-family: $regular;
        color: $black;
      }
    }

    // Social links
    section:first-of-type {
      //border: 1px solid red;
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      @include desktop {
        margin-bottom: 25px;
      }

      a {
        //@include border;
        @include heading;
        color: $black;
        text-decoration: none;

        &::after {
          content: " \2197";
          position: relative;
          top: -14px;
          left: 6px;
          display: inline-block;

          @include phone {
            top: -10px;
            left: 4px;
          }

          @include desktop {
            top: -16px;
            left: 8px;
          }
        }

        &:hover {
          color: $red;
        }
      }
    }

    // Contact info
    section:nth-of-type(2) {
      //border: 1px solid red;
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;
      @include desktop {
        margin-bottom: 50px;
      }

      a {
        @include heading;
        color: $black;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &:last-of-type {
          &:hover {
            color: $red;
          }

          &::after {
            content: " \2197";
            position: relative;
            top: -14px;
            left: 6px;
            display: inline-block;

            @include phone {
              top: -10px;
              left: 4px;
            }

            @include desktop {
              top: -16px;
              left: 8px;
            }
          }
        }
      }
    }
  }

  // Copyright
  p {
    // @include border;
    font-size: 1rem;
    font-family: $medium;

    @include desktop {
      font-size: 1.5vw;
    }

    color: $black;
    text-align: center;
  }
}
