@import "../index.scss";

// Navbar
nav {
  background-color: $gray;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100px;
  @include desktop {
    height: 7vw;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;

  // Logo
  > div {
    margin-left: 2vw;
    a {
      display: block;
      width: 4vw;
      img {
        width: 100%;
      }
    }
  }

  // Menu
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;

    a {
      //border: 1px solid;
      @include text;
      font-weight: 400;
      padding: 20px 20px;
      margin: 0 10px;
      color: $black;
      font-size: 1.1rem;
      text-decoration: none;
      &:hover {
        color: $yellow;
      }
    }
  }

  // Toggle
  .toggle {
    display: none;
  }

  // Tablet nav
  @include tablet {
    // Logo
    > div {
      margin-left: 3vw;
      a {
        width: 6vw;
      }
    }
  }

  // Mobile nav
  @include phone {
    position: fixed;
    width: 100%;
    height: 80px;

    // Logo
    > div {
      margin-left: 4vw;
      a {
        width: 50px;
      }
    }

    ul {
      background-color: $yellow;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      position: fixed;
      top: 0;
      right: -100%;
      height: 100%;
      width: 50%;
      padding: 10px;
      transition-property: all;
      transition-duration: 0.55s;
      transition-delay: 0;
      transition-timing-function: cubic-bezier(0.66, 0, 0.34, 1);
      z-index: 1;

      a {
        //border: 1px solid;
        font-size: 6vw;
        padding: 10px;
        &:hover {
          color: $black;
        }
      }

      &.active {
        right: 0;
      }
    }

    .toggle {
      //border: 1px solid red;
      width: 50px;
      height: 50px;
      display: block;
      position: fixed;
      right: 15px;
      top: 15px;
      padding: 5px;
      cursor: pointer;
      z-index: 2;

      .hamburger {
        width: 100%;
        height: 3px;
        border-radius: 10px;
        background: $black;
        transition: all 0.5s ease;
        position: relative;
        top: 20px;

        &:before,
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          background: $black;
          border-radius: 10px;
          transition: 0.5s;
        }

        &:before {
          top: -12px;
        }

        &:after {
          top: 12px;
        }
      }

      &.active {
        z-index: 2;
        .hamburger {
          background: rgba(0, 0, 0, 0);

          &:before {
            top: 0;
            transform: rotate(45deg);
            //background-color: $red;
          }

          &:after {
            top: 0;
            transform: rotate(135deg);
            //background-color: $red;
          }
        }
      }
    }
  }
}

.active-navlink {
  text-decoration: underline;
}

// Footer
footer {
  padding: 50px 0;
  background-color: $gray;

  > div {
    display: flex;

    @media only screen and (max-width: 1000px) {
      flex-direction: column;
    }

    @include child-container;
    margin: 0 auto;

    //Contact info
    > div:first-of-type {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-top: 1vw;
      @media only screen and (max-width: 1000px) {
        width: 100%;
        margin-bottom: 25px;
      }

      h3 {
        @include heading;
        text-transform: uppercase;
        margin-bottom: 25px;
        span {
          img {
            width: 35px;
            @include phone {
              width: 25px;
            }
          }
        }
      }

      p {
        @include text;
        margin-bottom: 10px;
      }

      a {
        @include text;
        color: $black;
        margin-bottom: 10px;
        text-decoration: none;
        &:hover {
          color: $yellow;
        }
      }
    }

    // Social links
    > div:nth-of-type(2) {
      width: 40%;
      padding-top: 10px;
      display: flex;
      justify-content: space-between;

      a {
        width: 17.5%;

        img {
          width: 100%;
        }
      }

      @media only screen and (max-width: 1000px) {
        width: 70%;
        max-width: 25em;
        margin-bottom: 50px;

        a {
          width: 17.5%;
        }
      }
    }
  }

  // Copyright
  > p {
    font-size: 1rem;
    font-weight: 400;
    @include desktop {
      font-size: 1.5vw;
    }
    text-align: center;
  }
}
