@import "../index.scss";

// Navbar
nav {
  ul {
    background-color: $black;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -100%;
    height: 100%;
    width: 100%;
    transition-property: all;
    transition-duration: 0.7s;
    transition-delay: 0;
    transition-timing-function: cubic-bezier(0.66, 0, 0.34, 1);
    z-index: 1;

    li {
      a {
        color: $nude;
        font-size: 3rem;

        @include phone {
          font-size: 8vw;
        }

        text-align: center;
        line-height: 1.5;
        text-decoration: none;
        color: $nude;

        outline: none;

        &:hover {
          text-decoration: underline;
        }
      }

      // Social links
      &:last-of-type {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > div {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        a {
          font-size: 1.25rem;
          line-height: 1.5;
          cursor: pointer;
          &:hover {
            color: $red;
          }
        }

        a {
          padding: 15px 10px;
        }

        p {
          font-family: $regular;
          color: $nude;
          padding: 0 0 25px;
        }

        @include phone {
          a {
            font-size: 1rem;
          }
        }
      }
    }

    &.active {
      top: 0;
    }
  }

  .logo {
    width: 55px;
    height: 55px;
    background-color: $red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 55px;
    left: 65px;
    z-index: 2;

    @include phone {
      top: 30px;
      left: 25px;
    }

    p {
      font-family: $medium;
      font-size: 1.75rem;
      color: $nude;
      transition: color 1s ease;
      position: relative;
      left: -1px;
      top: 1px;
    }

    &.active {
      p {
        color: $black;
      }
    }
  }

  .toggle {
    width: 50px;
    height: 50px;
    display: block;
    position: fixed;
    right: 50px;
    top: 50px;

    @include phone {
      right: 20px;
      top: 25px;
    }

    padding: 5px;
    cursor: pointer;
    z-index: 2;

    .hamburger {
      width: 100%;
      height: 3px;
      background: $black;
      border-radius: 1px;
      transition: all 0.5s ease;
      position: relative;
      top: 25px;

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background: $black;
        border-radius: 1px;
        transition: 0.5s;
      }

      &:before {
        top: -16px;
      }

      &:after {
        top: 16px;
      }
    }

    &.active {
      z-index: 2;
      .hamburger {
        background: rgba(0, 0, 0, 0);

        &:before {
          top: 0;
          transform: rotate(45deg);
          background: $nude;
        }

        &:after {
          top: 0;
          transform: rotate(135deg);
          background: $nude;
        }
      }
    }
  }
}

// Sidebar
aside {
  //border: 1px solid red;
  width: 0;
  height: 100vh;
  position: fixed;
  left: 0px;
  bottom: 0;
  //background-color: $gray;
  //border-left: 2px solid $red;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  transform: rotate(180deg);

  p {
    //border: 1px solid red;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    font-family: $medium;
    font-size: 1.5rem;
    writing-mode: vertical-rl;
    cursor: pointer;

    &:hover {
      color: $red;
    }
  }

  @media only screen and (min-width: 0px) and (max-width: 1024px) {
    width: 100vw;
    height: 125px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: center;
    transform: rotate(0deg);
    background-color: $nude;

    p {
      writing-mode: initial;
      width: 22%;
      margin-bottom: 15px;
    }
  }

  @include phone {
    width: 100vw;
    height: 110px;

    p {
      width: 20%;
      font-size: 1rem;
      margin-bottom: 25px;
    }
  }
}

// CTA
.contact {
  //border: 1px solid red;
  @include child-container;
  padding: 50px 0;

  h2 {
    font-size: 2.5rem;
    line-height: 1.1;
    font-family: $medium;
  }

  > div {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    a {
      font-size: 1.75rem;
      line-height: 1.75;
      text-decoration: none;
      color: $black;

      span {
        font-family: $regular;
      }

      &:hover {
        text-decoration: underline;
      }
      span:last-of-type {
        img {
          width: 30px;
          position: relative;
          top: 5px;
          left: -5px;
        }
      }
    }
  }

  @include phone {
    padding: 25px 0;
    h2 {
      font-size: 6vw;
    }

    > div {
      a {
        font-size: 1.25rem;
        line-height: 1.5;

        span:last-of-type {
          img {
            width: 20px;
            position: relative;
            top: 2px;
            left: -3px;
          }
        }
      }
    }
  }
}

// Bottom nav
.bottom-nav {
  margin: 50px auto 100px;
  display: flex;

  > div {
    //border: 1px solid red;
    width: 50%;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
      font-family: $medium;
      font-size: 2.5rem;
      color: $black;
      text-decoration: none;
      outline: none;
      margin-bottom: 10px;

      &::after {
        content: " \2197";
        position: relative;
        top: -10px;
        left: 5px;
        display: inline-block;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      font-size: 1.25rem;
    }

    &:first-of-type {
      border-right: 3px solid $black;
    }
  }

  @include phone {
    margin: 25px auto 50px;

    > div {
      height: 100px;

      a {
        font-size: 6vw;
      }

      p {
        font-size: 1rem;
      }

      &:first-child {
        border-right: 2px solid $black;
      }
    }
  }
}

// Footer
footer {
  //border: 1px solid red;
  width: 100%;
  background-color: $black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 75px 0 25px;

  // CTA
  > div:first-of-type {
    //border: 1px solid red;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    h3 {
      //border: 1px solid red;
      font-size: 2.5rem;
      line-height: 1.5;
      color: $nude;
      font-family: $medium;
    }

    p {
      font-size: 1.25rem;
      color: $nude;
    }
  }

  // Contact info
  > div:nth-of-type(2) {
    //border: 1px solid red;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 5px;

    // Inner container
    > div {
      display: flex;
      flex-direction: column;

      a {
        //border: 1px solid red;
        font-size: 1.75rem;
        line-height: 1.5;
        color: $nude;
        text-decoration: none;

        span {
          font-family: $medium;
        }

        &:hover {
          text-decoration: underline;
        }

        span:last-of-type {
          img {
            width: 28px;
            position: relative;
            top: 4px;
            left: -5px;
          }
        }
      }
    }
  }

  // Links
  > div:nth-of-type(3) {
    //border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 10px;

    > div {
      margin-bottom: 15px;

      a {
        font-size: 1.25rem;
        line-height: 1.5;
        color: $nude;
        cursor: pointer;
        text-decoration: none;
        padding: 10px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    // Copyright
    p {
      color: $nude;
    }
  }

  @include tablet {
    // Contact info
    > div:nth-of-type(2) {
      > div {
        a {
          font-size: 1.5rem;

          span:last-of-type {
            img {
              width: 23px;
              top: 3px;
              left: -4px;
            }
          }
        }
      }
    }
  }

  @include phone {
    flex-direction: column;

    //CTA
    > div:first-of-type {
      width: 100%;
      margin-bottom: 25px;
      text-align: center;

      h3 {
        font-size: 2rem;
        margin-bottom: 10px;
      }
    }

    // Contact info
    > div:nth-of-type(2) {
      width: 100%;

      > div {
        a {
          font-size: 1.25rem;
          text-align: center;

          span:last-of-type {
            img {
              width: 20px;
              top: 3px;
            }
          }
        }
      }
    }

    // Links
    > div:nth-of-type(3) {
      > div {
        a {
          font-size: 1rem;
        }
      }
    }
  }
}
