@import "../../index.scss";

.container {
  // Hero img
  > div:first-of-type {
    //border: 1px solid red;
    position: absolute;
    bottom: 0;
    z-index: -10;

    img {
      //border: 1px solid red;
      width: 100%;
    }
  }

  // Hero text
  section:first-of-type {
    @include container;
    height: 90vh;
    display: flex;
    align-items: center;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;

      // Name
      h1 {
        font-size: 5vw;
        margin-top: 150px;
        margin-bottom: 25px;
        text-transform: uppercase;
      }

      // Tagline
      h2 {
        @include heading;
        font-weight: 300;
        @include phone {
          font-size: 5vw;
        }

        span {
          @include highlight;
        }
        margin-bottom: 25px;
      }

      // CTA
      > div {
        display: flex;
        align-items: center;

        // Leave request
        input[type="submit"] {
          width: 225px;
          font-size: 1.5rem;
          padding: 10px 0;
          border: 1px solid $black;
          font-family: "Roboto Mono", monospace;
          //font-weight: 300;
          text-transform: uppercase;
          margin-right: 25px;

          @include desktop {
            width: 15vw;
            min-width: 250px;
            font-size: 2vw;
          }

          border-radius: 50px;
          color: $black;
          background-color: white;
          cursor: pointer;
          -webkit-appearance: none;

          &:hover,
          &:active {
            border: 1px solid $black;
            background-color: $black;
            color: white;
            outline: none;
          }

          @include phone {
            font-size: 1.5rem;
          }
        }

        // Learn more
        a:last-of-type {
          display: block;
          padding: 25px 0;
          font-size: 1.5rem;

          @include link;
          @include phone {
            font-size: 1.5rem;
          }

          @include tablet {
            font-size: 1.75rem;
          }

          @include desktop {
            font-size: 1.75vw;
          }
        }
      }

      @include tablet {
        // Name
        h1 {
          font-size: 6vw;
        }
      }

      @include phone {
        // Name
        h1 {
          font-size: 8vw;
        }

        // CTA
        > div:last-of-type {
          flex-direction: column;
          align-items: flex-start;
          padding: 10px 0;
        }
      }
    }
  }

  // About text
  section:nth-of-type(2) {
    // @include border;
    @include container;
    padding: 300px 0 200px;
    display: flex;
    flex-direction: column;

    // Hello
    h3 {
      // @include border;
      @include heading;
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    // Text
    > div {
      p {
        @include text;

        margin-bottom: 25px;
        @include desktop {
          margin-bottom: 50px;
        }
        span {
          @include highlight;
        }
      }

      a {
        @include text;
        @include link;
      }
    }

    @include phone {
      padding: 200px 0 100px;
    }
  }
}
