@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");

@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 769px) and (max-width: 1199px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  // Background grid
  background-size: 70px 70px;
  background-image: linear-gradient(
      to right,
      rgb(240, 240, 240) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(240, 240, 240) 1px, transparent 1px);
  background-attachment: fixed;
  // Page transitions
  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  -webkit-animation: fadein 0.5s;
  -o-animation: fadein 0.5s;
}
