// Fonts (Roboto Mono 200,300,400,500,600)
// from https://google-webfonts-helper.herokuapp.com/fonts

/* roboto-mono-200 - latin */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 200;
  src: url("./assets/fonts/roboto-mono-v12-latin-200.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/fonts/roboto-mono-v12-latin-200.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/roboto-mono-v12-latin-200.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/roboto-mono-v12-latin-200.woff") format("woff"),
    /* Modern Browsers */ url("./assets/fonts/roboto-mono-v12-latin-200.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/roboto-mono-v12-latin-200.svg#RobotoMono")
      format("svg"); /* Legacy iOS */
}

/* roboto-mono-300 - latin */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/roboto-mono-v12-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/fonts/roboto-mono-v12-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/roboto-mono-v12-latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/roboto-mono-v12-latin-300.woff") format("woff"),
    /* Modern Browsers */ url("./assets/fonts/roboto-mono-v12-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/roboto-mono-v12-latin-300.svg#RobotoMono")
      format("svg"); /* Legacy iOS */
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/roboto-mono-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/fonts/roboto-mono-v12-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/roboto-mono-v12-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/roboto-mono-v12-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("./assets/fonts/roboto-mono-v12-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/roboto-mono-v12-latin-regular.svg#RobotoMono")
      format("svg"); /* Legacy iOS */
}

/* roboto-mono-500 - latin */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/roboto-mono-v12-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/fonts/roboto-mono-v12-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/roboto-mono-v12-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/roboto-mono-v12-latin-500.woff") format("woff"),
    /* Modern Browsers */ url("./assets/fonts/roboto-mono-v12-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/roboto-mono-v12-latin-500.svg#RobotoMono")
      format("svg"); /* Legacy iOS */
}

/* roboto-mono-600 - latin */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/roboto-mono-v12-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/fonts/roboto-mono-v12-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/roboto-mono-v12-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/roboto-mono-v12-latin-600.woff") format("woff"),
    /* Modern Browsers */ url("./assets/fonts/roboto-mono-v12-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/roboto-mono-v12-latin-600.svg#RobotoMono")
      format("svg"); /* Legacy iOS */
}

// Media queries
@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 769px) and (max-width: 1199px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

// Colors
$black: #2d2d2d;
$yellow: rgb(255, 214, 10);
$gray: #f1f1f1;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
  color: $black;
  text-transform: uppercase;
  line-height: 1.5;
}

@mixin container {
  margin: 0 auto;

  @include phone {
    width: 90vw;
  }

  @include tablet {
    width: 80vw;
  }

  @include desktop {
    width: 70vw;
  }
}

// Page header
@mixin page-header {
  @include container;
  padding: 200px 0 50px;

  h2 {
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  @include phone {
    h2 {
      font-size: 8vw;
    }
  }

  @include desktop {
    padding: 15vw 0 4vw;
    h2 {
      font-size: 4vw;
    }
  }
}

// Heading
@mixin heading {
  @include phone {
    font-size: 6vw;
  }

  @include tablet {
    font-size: 2.5rem;
  }

  @include desktop {
    font-size: 3vw;
  }
}

// Normal text
@mixin text {
  @include phone {
    font-size: 1.25rem;
  }

  @include tablet {
    font-size: 1.55rem;
  }

  @include desktop {
    font-size: 1.75rem;
  }

  @media only screen and (min-width: 1800px) {
    font-size: 1.75vw;
  }
}

// Link
@mixin link {
  color: $black;
  text-decoration: underline;
  transition: all 0.25s ease;

  &:hover {
    color: $yellow;
    text-decoration: none;
  }
}

// Text highlight
@mixin highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, $yellow 40%);
}

// Border (dev purposes)
@mixin border {
  border: 1px solid red;
}
